<!-- including header.ejs file in home -->
<!-- Ejs already knows to look inside the views folder  -->
<!-- If we add header and footer in another directory of name partials in views folder we need to update the include path from header to partials/header  -->
<%-include("header")-%>
    <h1>HOME</h1>
    <p>
        <%=para1%>
    </p>
    <% for(var i=0;i<posts.length;i++){ %>
        <h1>
            <%=posts[i].title%>
        </h1>
        <p>
            <%=((posts[i].content).substring(0,100))+"..." %>
                <a href="/posts/<%=posts[i].title%>">Read more</a>
        </p>
        <%}%>

            <%-include("footer")-%>